<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Отчет по мониторингу тревог</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/mdbtablescroll.css}">	
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</head>
<body>
    <div class="container">
       
			   <div class="row pt-2 pb-2 justify-content-center">
			      <div class="col-auto px-0 text-nowrap">
				     <h5 style="text-align: right;">Отчет по мониторингу тревог</h5>
			      </div>
			      <div class="col-auto">
			         <a th:href="@{/user/home_user}" class="btn btn-primary btn-sm">Выход</a>
			      </div>
			   </div>

		  	
		  <!----------------------------------Фильтр тревог---------------------------->
          <div th:insert="~{fragments/filtr_alarm_report :: filtr_alarm_report}"></div>  
           
          <div class="row justify-content-center">   
            <div class="col-auto pt-1 justify-content-center">
	             <table class="table table-success table-striped table-hover table-sm table-bordered 
						       table-responsive-sm table-fixed table-wrapper-scroll-y" id="table-report-alarm">
					      
				     <thead style="text-align: center; position: sticky; top: 0">
				       <tr>
				         <th>№</th>
				         <th>Активация тревоги</th>
				         <th>Деактивация тревоги</th>
				         <th>Номер<br>тревоги</th>
				         <th>Тревоги в группе</th>
				         <th>Номер<br>группы</th>
				         <th>Группы тревог</th>
				       </tr>  
				     </thead>
				     <tbody class="table-group-divider">
				       <tr th:each="list,cnt : *{listTblAlarmDTO}"> 
				         <td th:text="${cnt.index + 1}" style="text-align: right;"></td>
				         <td th:text="${list.tsactive}"></td>
				         <td th:text="${list.tsinactive}" style="text-align: center;"></td>
				         <td th:text="${list.alarmId}" style="text-align: center;"></td>
				         <td th:text="${list.nameAlarm}"></td>
				         <td th:text="${list.groupId}" style="text-align: center;"></td>
				         <td th:text="${list.nameGroup}"></td>
				       </tr>
				     </tbody>
			       </table>
			     </div>  
			</div>
	</div> 

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
		    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
		    crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
		    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
		    crossorigin="anonymous"></script>
    <!-- Для обеспечения работы $.ajax -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

   <script th:inline="javascript">
         
   /**
   * Onload doc
   */
   $('document').ready(function(){
	   loadListAlarmGroup();
   });
   
   /**
   * Заполняем список групп аварий
   */
   function loadListAlarmGroup(){
	  const listFlow = [[${listAlarmGroupDTO}]];//Fucking editor!!!  
	 	         	
   	 $('#listGroupName option').remove();
	 $('<option/>', {value: '-1', html: 'Выбрать группу', selected: true}).appendTo('#listGroupName');  
     $.each($(listFlow), function(idx, obj) {
    	$('<option/>', {value: obj.idGroup, html: obj.nameGroup, selected: false}).appendTo('#listGroupName');
    	//$('#listGroupName').append('<option value="' + obj.idGroup + '">' + obj.nameGroup + '</option>');   	 
   	 });
	};
	
	/**
	* Заполнение списка наименованиями аварий в зависимости от групп аварий 'listGroupName'
	*/
	$('#listGroupName').on('change',  function(){
		const idGroup = $('#listGroupName').val();
		
		$.ajax({
			"type": "get",
	        "url": '/user/GroupAlarmName/idGroup/' + idGroup,
	        "dataType": "json",
	        "cache": "true",
	        "data": "$(this).serialize()",
	        success: function(data){
	        	$('#listAlarmName option').remove();
	       	    $('<option/>', {value: '-2', html: 'Выбрать аварию', selected: true}).appendTo('#listAlarmName');  
	            $.each($(data), function(idx, obj) {
	           	$('<option/>', {value: obj.idAlarm, html: obj.alName, selected: false}).appendTo('#listAlarmName');
	          });
	        }
		});
	});
	
   
   /**
   * Запуск фильтра по датам
   */
   $('#btn-filter').on('click',function(){
       
       var strDat1 = $('#datefrom').val();
       const dateFrom = myFormatDate(strDat1);
       var strDat2 = $('#dateto').val(); 
	   const dateTo   = myFormatDate(strDat2);
	   const idGroup = $('#listGroupName').val();
	   const idAlarm = $('#listAlarmName').val();
       
       $.ajax({
	        "type": "get",
	        "url": '/user/AlarmName/dateFrom/' + dateFrom + '/dateTo/' + dateTo + '/idGroup/' + idGroup + '/idAlarm/' + idAlarm,
	        "dataType": "json",
	        "cache": "true",
	        "data": "$(this).serialize()",
	        success: function (data) {
	        	//Удалим тело таблицы/////////////////
	        	var tableBody = $("#table-report-alarm tbody");
	        	tableBody.empty();
	        	if(data.length == 0){
	        		alert('Запрос вернул пустые данные.');
                    return false;
			    }
	        	//Вставим новые записи////////////////
	        	$.each(data, function (idx, obj){
	        		$("#table-report-alarm tbody").append(
	        		  '<tr>' + 
	        		     '<td style="text-align: right;">'+(idx + 1)+'</td>' +
				         '<td>'+obj.tsactive+'</td>' +
				         '<td style="text-align: center;">'+obj.tsinactive+'</td>' +
				         '<td style="text-align: center;">'+obj.alarmId+'</td>' +
				         '<td>'+obj.nameAlarm+'</td>' +
				         '<td style="text-align: center;">'+obj.groupId+'</td>' +
				         '<td>'+obj.nameGroup+'</td>' +
	      			  '</tr>' 
	        		);
	        	});
	        	
	        }
            ,
	        error: function (x, e) {
	        	var tableBody = $("#table-report-alarm tbody");
	        	alert('Произошла ошибка при получении данных.');
            }
	    });
     });
   
   /**
   * Реверс даты
   */
   function myFormatDate(strDat){
       var arr =  strDat.split('-');
	   return arr[2]+'-'+arr[1]+'-'+arr[0];
	   }
   
   /**
   * Поиск по таблице
   */
   $(document).ready(function(){
    $("#search").keyup(function(){
    _this = this;
       $.each($("#table-report-alarm tbody tr"), function() {
           if($(this).text().toLowerCase().indexOf($(_this).val().toLowerCase()) === -1) {
               $(this).hide();
           } else {$(this).show(); }
       });
    });
    setMyCurrDate();
  });  

   /**
   * Установка текущей даты
   */
   function setMyCurrDate(){
       const d2 = d1 = myDateNow();
       $('#datefrom').val(d1);
	   $('#dateto').val(d2);
	 };

   /**
    * Вывод текущего времени в формате YYYY-MM-DD или DD-MM-YYYY
   */
   function myDateNow(){
	  var mlsk = Date.now();
 	  var nowDate = new Date(mlsk);
 	  var year = nowDate.getFullYear().toString();
 	  var month = (nowDate.getMonth() + 1).toString().length > 1 ? (nowDate.getMonth() + 1).toString() : '0'+(nowDate.getMonth() + 1).toString();
 	  var day = nowDate.getDate().toString().length > 1 ? nowDate.getDate().toString() : '0'+nowDate.getDate().toString();  
      return (year + '-' + month + '-' + day);
   }

   </script>
</body>
</html>