<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="fr_filter_group_chart">
		<div class="row row-cols-auto justify-content-md-center" style="margin-top: 10px;">
			<!----------------------------- Выбор дат ------------------------------------------------------------------------>
			<div class="col  px-1" style="margin-top: 1px; margin-bottom: 1px">
				<input value="" type="date" class="form-control pull-right form-select-sm" id="datefrom" name="datebeg" title="Only from 01-07-2022"/>
			</div>
			<div class="col  px-1" style="margin-top: 1px; margin-bottom: 1px">
				<input value="" type="date" class="form-control pull-right form-select-sm" id="dateto" name="dateend" title="Only to 15-07-2022"/>
			</div>
			
			<!----------------------------------------------------- Кнопки фильтрa ------------------------------------------>
			<div class="col  px-0">
				<button type="button" class="btn btn-secondary  btn-circle" id="btn-filter" title="Фильтр"><i class="bi bi-funnel"></i></button>
			</div>
			<div class="col  px-0">
				<button type="button" class="btn btn-success  btn-circle" id="btn-reset" title="Сброс"><i class="bi bi-x-octagon"></i></button>
			</div>
			<!-- div class="col  px-0">
				<button type="button" class="btn btn-primary  btn-circle" id="btn-print" title="Excel"><i class="bi bi-printer-fill"></i></button>
			</div -->

		</div>
	</div>
</body>