<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>filtr_alarm_report</title>
</head>
<body>
	<div th:fragment="filtr_alarm_report">

			<div class="row row-cols-auto justify-content-md-center" style="margin-top: 2px;">
			
			    <!----------------------------- Даты и поиск по таблице ------------------------------------------------------------------------>
				<div class="col-auto px-1" style="margin-top: 1px; margin-bottom: 1px">
					<input value="" type="text" class="form-control form-select-sm" id="search" name="finder-items" placeholder="Поиск" />
				</div>
				<div class="col  px-1" style="margin-top: 1px; margin-bottom: 1px">
					<input value="" type="date" class="form-control pull-right form-select-sm" id="datefrom" name="datebeg" placeholder="За период с" />
				</div>
				<div class="col  px-1" style="margin-top: 1px; margin-bottom: 1px">
					<input value="" type="date" class="form-control pull-right form-select-sm" id="dateto" name="dateend" placeholder="по" />
				</div>
			
			
			    <!------------------------------------ Списки выбора параметров фильтрации -------------------------->
				<div class="col-auto  px-1" id="select-group-name">
				   <select class="form-select form-select-sm" aria-label=".form-select-sm" id="listGroupName">
				   </select>
				</div>
				<div class="col-auto  px-1">
				   <select class="form-select form-select-sm" aria-label=".form-select-sm" id="listAlarmName">
				      <option selected>Выбор вида аварии</option>
                   </select>
				</div>
				
				<!----------------------------------------------------- Кнопки фильтров ------------------------------------------>
			    <div class="col  px-0">
					<button type="button" class="btn btn-secondary  btn-circle" id="btn-filter"  title="Фильтр">
						<i class="bi bi-funnel"></i>
					</button>
				</div>
				<div class="col  px-0">
					<button type="button" class="btn btn-success  btn-circle" id="btn-reset"  title="Сброс">
						<i class="bi bi-x-octagon"></i>
					</button>
				</div>
				<div class="col  px-0">
					<button type="button" class="btn btn-primary  btn-circle" id="btn-print"  title="Печать">
						<i class="bi bi-printer-fill"></i>
					</button>
				</div>
			</div>
		</div>
</body>
</html>