@charset "UTF-8";

.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}

.my-custom-scrollbar-alarm {
position: relative;
height: 520px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}

.table {
	margin-top: 3px;
}

.form-signin {
    max-width: 80%;
    padding: 10px 18px 16px;
    background-color: rgba(233, 234, 234, 0.6);
    border: dotted; 
    border-color: rgba(133, 134, 234, 0.1);
    margin: 0 auto;
}

.btn-alr {
	height: 30px;
	
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 0; 
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 0; 
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 0; 
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}